<body>
    <div id="container">
        <div class="box">
            <h3>About:</h3>
            <p>
                This project is centered around the analysis and visualization of data related to uninsured individuals
                under the age of 65 in various counties within Virginia. The primary objective is to understand the
                distribution and factors influencing the lack of health insurance coverage in these areas.
            </p>
        </div>
        <div class="box">
            <h3>Dataset:</h3>
            <p>
                The data for this project is sourced from the
                <i
                    ><a href="https://www.ahrq.gov/sdoh/data-analytics/sdoh-data.html"
                        >Agency for Healthcare Research and Quality’s (AHRQ) Social Determinants of Health (SDOH)
                        Database (Beta Version)</a
                    ></i
                >. This database provides a comprehensive set of variables across various domains, facilitating research
                and analysis on social determinants of health.
            </p>
        </div>
        <div class="box">
            <h3>Trends:</h3>
            <ul>
                <li><b>Year:</b> This variable helps track changes and trends over time.</li>
                <li>
                    <b>Total Weighted Population:</b> This variable provides a measure of the total population in each
                    county, accounting for factors such as age distribution.
                </li>
                <li>
                    <b>Geography:</b> This variable indicates whether a county is coastal or not, which can influence
                    access to healthcare services.
                </li>
            </ul>
        </div>
    </div>
    <div id="button">
        <button type="button">Learn More</button>
    </div>
</body>
