<body>
    <header class="coastal">
        <h3>By Coastal Regions</h3>
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
        />
    </header>
    <div id="selection">
        <button type="button" (click)="navigateToFirstViz()">Year</button>
        <button type="button" (click)="navigateToSecondViz()">Population</button>
        <button type="button" class="active">Geography</button>
    </div>
    <div id="back">
        <button type="button" (click)="navigateToHome()">
            <span class="material-symbols-outlined"> arrow_back </span>Home
        </button>
    </div>
    <div class="container">
        
        <div id="filters">
            <select id="select-county">
                <option value="">Select County</option>
            </select>
            <select id="select-year">
                <option value="">Select Year</option>
            </select>
            <button id="clear-filters">Clear Filters<span class="material-symbols-outlined"> cancel </span></button>
        </div>
        <div id="chart"></div>
    </div>
    <div id="selected-items"></div>
</body>
