<body>
    <header class="coastal">
        <h3>By Coastal Regions</h3>
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
        />
    </header>
    <div id="selection">
        <button type="button" (click)="navigateToFirstViz()">Year</button>
        <button type="button" (click)="navigateToSecondViz()">Population</button>
        <button type="button" class="active">Geography</button>
    </div>
    <div id="back">
        <button type="button" (click)="navigateToHome()">
            <span class="material-symbols-outlined"> arrow_back </span>Home
        </button>
    </div>
    <div class="container">
        <select id="select-year">
            <option value="">Select Year</option>
        </select>
        <input type="radio" id="descending" name="sort" value="percent-desc" (change)="sortData('desc')" />
        <label for="percent-desc">Sort By Percent Descending</label>

        <input type="radio" id="ascending" name="sort" value="percent-asc" (change)="sortData('asc')" />
        <label for="percent-asc">Sort By Percent Ascending</label>

        <button id="clear-filters" (click)="resetChart()">
            Cancel<span class="material-symbols-outlined"> cancel </span>
        </button>

        <div
            id="tooltip"
            style="
                position: absolute;
                opacity: 0;
                background-color: white;
                border: 1px solid #ccc;
                padding: 5px;
                border-radius: 5px;
                pointer-events: none;
            "
        ></div>

        <div id="chart"></div>
    </div>
</body>
